extends layout
block append head
  include ../static/js/socket.io.min.js
  include ../static/js/uuid.js
  include ../static/js/master.js
  include ../static/js/jquery-ui-1.9.2.custom.min.js

block content
  h2 Idle clients
  ul.idle-clients
  h2 Engaged clients
  button.add-layer Add Layer
  table
    tbody
      tr.clients
        th Layers

  button.input Stream!
  div.output
