html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
table {
}
table th, table td {
    border: 1px solid #ddd;
}
.layer {
    min-height: 100px;
    min-width: 100px;
}
.active {
    border: 1px solid yellow;
}
.hover {
    border: 1px solid red;
}
.node {
    border: 1px solid #9d9;
    text-align: center;
}
